<header>
	<img class="img-center" src="uns.png" height="77" width="121">
	<strong><h1>Projet MIAGE</h1></strong>
	<h3>Réalisation d'une application Web de consultation de données Open Data "Immeubles protégés au titre des Monuments Historiques".<h3>	
	<h4>Projet de l'année 2016-2017.</h4>
	<div id="map"></div>
	<hr>
	
	<div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			          Énoncé du Projet XML.
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			       <div class="row">
		            
		            <div class="col-md-12">
		               
		               <h3>Enoncé</h3>
		               
		               <p><i class="icon-chevron"></i> On dispose de données des
		                  <a href="https://www.data.gouv.fr/fr/datasets/monuments-historiques-liste-des-immeubles-proteges-au-titre-des-monuments-historiques/">Immeubles protégés au titre des Monuments Historiques</a>
		                  (total France en 2014 : 44 318 monuments).
		                  On vous demande de réaliser une application 
		                  Web de consultation de ces données.
		               </p>
		               
		               <p><i class="icon-chevron"></i> Liste des données :
		               </p>
		               
		               <ul>
		                  
		                  <li>Référence de l'édifice dans la base Mérimée : &lt;REF&gt;</li> 
		                  
		                  <li>Type d'étude : &lt;ETUD&gt; : recensement immeubles MH, avec éventuellement la mention label
		                     Xxe
		                  </li>
		                  
		                  <li>localisation de l'édifice : &lt;LOCA&gt; ou &lt;REG&gt; + &lt;DEPT&gt; + &lt;COM&gt;</li>
		                  
		                  <li>Code INSEE : &lt;INSEE&gt;</li>
		                  
		                  <li>Appellation courante de l'édifice : &lt;TICO&gt;</li>
		                  
		                  <li>Adresse : &lt;ADRS&gt; : adresse, n° de la voie, type de voie, nom de la voie</li>
		                  
		                  <li>Statut propriété : &lt;STAT&gt; : type de propriétaire par catégorie ; pas de noms</li>
		                  
		                  <li>Affectataire : &lt;AFFE&gt; : utile pour les propriétés de l'Etat, mentionne le nom du ministère
		                     affectataire
		                  </li>
		                  
		                  <li>Précisions sur la protection : &lt;PPRO&gt; article 1er de l'arrêté de protection + cadastre
		                     + nature et date de la protection
		                  </li>
		                  
		                  <li>Date de protection : &lt;DPRO&gt;</li>
		                  
		                  <li>Architecte ou maître d'oeuvre : &lt;AUTR&gt;</li>
		                  
		                  <li>Période de construction : &lt;SCLE&gt;</li>
		                  
		               </ul>
		               
		               
		               <h4>Conditions de réalisation</h4>
		               
		               <p><i class="icon-chevron-right"></i> Ces données doivent être chargées
		                  dans une base de données native XML ; vous utiliserez
		                  <a href="http://basex.org/">BaseX</a> ou <a href="http://www.exist-db.org/">eXist</a>;
		                  toutes les requêtes d'extraction des données seront faites en <b>XQuery</b>.
		                  L'utilisation d'une base de données relationnelle est proscrite.
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Vous devrez héberger une application Web dans un serveur Node.js.
		                  Rien de doit être précalculé (ne pas stocker les résultats dans
		                  des fichiers), votre application doit accéder aux données dynamiquement.
		                  L'utilisation de PHP est proscrite.
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> 
		                  L'application cliente pourra utiliser des frameworks modernes (comme Angular 2
		                  ou <a href="http://aurelia.io/">Aurelia</a>)
		                  et CSS pour styler l'application. Les graphiques <b>devront</b> être réalisés en SVG.
		                  Javascript pourra être utilisé pour les affichages sur une carte (GoogleMap).
		               </p>
		               
		               
		               <h4>Sources de données externes</h4>
		               
		               <p><i class="icon-chevron-right"></i> Utilisez DBPedia/Wikidata pour compléter dynamiquement vos données.
		                  Les requêtes seront faites en <b>SPARQL</b>.
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Vous pouvez également recourir à d'autres sources de données
		                  que vous jugeriez utile à votre application (pas nécessairement
		                  interrogeables en SPARQL, du moment que celles provenant de DBPedia ou Wikidata
		                  ont été interrogées avec SPARQL).
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Quelques exemples dans Wikipedia:
		               </p>
		               
		               <ul>
		                  
		                  <li><a href="https://fr.wikipedia.org/wiki/Monument_historique_(France)">Monuments historiques</a></li>
		                  
		                  <li><a href="https://fr.wikipedia.org/wiki/Liste_des_monuments_historiques_de_la_Charente-Maritime">Liste
		                        des monuments historiques de la Charente-Maritime</a>
		                     (potentiellement plusieurs listes)
		                  </li>
		                  
		                  <li><a href="https://fr.wikipedia.org/wiki/Liste_des_monuments_historiques_de_La_Rochelle">Liste
		                        des monuments historiques de La Rochelle</a></li>
		                  
		               </ul>
		               
		               <p><i class="icon-chevron-right"></i> ...et dans DBPedia :
		               </p>
		               
		               <ul>
		                  
		                  <li><a href="http://fr.dbpedia.org/page/Liste_des_monuments_historiques_de_La_Rochelle">on y trouve la référence de l'exemple XML (PA17000048)</a></li>
		                  
		                  <li>et en <a href="http://fr.dbpedia.org/data/Liste_des_monuments_historiques_de_La_Rochelle.ntriples">ntriples</a></li>
		                  
		               </ul>
		               
		               <p><i class="icon-chevron-right"></i> ...et dans Wikidata :
		               </p>
		               
		               <ul>
		                  
		                  <li><a href="https://www.wikidata.org/wiki/Q22995945">la page qui correspond à cette même référence</a> (PA17000048)
		                  </li>
		                  
		                  <li><a href="https://www.mediawiki.org/wiki/Wikibase/Indexing/RDF_Dump_Format">Wikidata infos RDF</a></li>
		                  
		                  <li><a href="https://query.wikidata.org/">Wikidata Query Service</a></li>
		                  
		               </ul>
		               
		               <p><i class="icon-chevron-right"></i> ...et cette référence de page Wikidata (Q22995945) se trouve aussi dans <a href="https://fr.wikipedia.org/wiki/Fichier:911_-_H%C3%B4tel_du_Commerce_10-12_Place_de_Verdun_-_La_Rochelle.jpg">Wikipedia</a> 
		                  donc dans DBPedia ; de là, on devrait pouvoir obtenir l'URL de cette photo avec une
		                  requête...
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Après analyse des données, trouvez les services qui permettent d'exécutez vos requêtes
		                  SPARQL pour extraire les données nécessaires
		                  (latitude, longitude, photos, autres infos).
		               </p>
		               
		            </div>
		            
		            <div class="span6">
		               
		               <div class="docs-example">
		                  <div class="docs-example-title"><code><a href="http://data.culture.fr/entrepot/MERIMEE/merimee-MH.xml">http://data.culture.fr/entrepot/MERIMEE/merimee-MH.xml</a></code></div>
		                  
		                  <p><i class="icon-chevron-right"></i> Téléchargez et dézippez le fichier XML, puis
		                     chargez-le dans la BD BaseX ou eXist.
		                  </p>
		                  
		                  <p>Extrait du fichier :</p>
		                  <pre class="prettyprint linenums pre-scrollable">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
							&lt;row&gt;
							    &lt;REF&gt;PA17000048&lt;/REF&gt;
							    &lt;ETUD&gt;recensement immeubles MH&lt;/ETUD&gt;
							    &lt;REG&gt;Poitou-Charentes&lt;/REG&gt;
							    &lt;DPT&gt;17&lt;/DPT&gt;
							    &lt;COM&gt;Rochelle (La)&lt;/COM&gt;
							    &lt;INSEE&gt;17300&lt;/INSEE&gt;
							    &lt;TICO&gt;Ancien Hôtel du Commerce&lt;/TICO&gt;
							    &lt;ADRS&gt;Verdun (place de) 10, 12&lt;/ADRS&gt;
							    &lt;STAT&gt;propriété d'une société privée&lt;/STAT&gt;
							    &lt;AFFE&gt;&lt;/AFFE&gt;
							    &lt;PPRO&gt;Pour l'hôtel sis au n° 10, place de Verdun : la façade sud donnant rue Rambaud (n°s 9-11) , les toitures et l'escalier ; pour l'hôtel sis au n° 12, place de Verdun : la façade nord donnant place de Verdun, les 	toitures ainsi que l'escalier et le salon lambrissé du premier étage (cad. AD 98) : inscription par arrêté du 12 décembre 2002 modifiée par arrêté du 3 février 2003&lt;/PPRO&gt;
							    &lt;DPRO&gt;2002/12/12 : inscrit MH ; 2003/02/03 : inscrit MH&lt;/DPRO&gt;
							    &lt;AUTR&gt;&lt;/AUTR&gt;
							    &lt;SCLE&gt;2e moitié 18e siècle&lt;/SCLE&gt;
							&lt;/row&gt;
							</pre>
		                  </div>
		               
		               <div class="well">
		                  
		                  <p>C'était comment, avant ?</p>
		                  
		                  <div>
		                     <h2>
		                        <pp:title>Projet MIAGE <small>Projet de l'année 2015-2016.</small></pp:title>
		                     </h2>
		                     
		                     <p>Réalisation d'une application Web de consultation de données
		                        Open Data géolocalisées "Etablissements d'enseignement supérieur".
		                     </p>
		                     
		                     <p><a class="btn" href="projet-miage-2015.html">Voir&nbsp;»</a></p>
		                  </div>
		                  
		               </div>
		               
		               <div class="alert alert-error">
		                  
		                  <h4><small>Attention</small> Qualité des données
		                  </h4>
		                  	            
		                  <p><i class="icon-chevron-right"></i> Lors de l'accès à d'autres sources de données,
		                     	                les informations recherchées ne seront peut-être pas disponibles
		                     pour tous les
		                     	                monuments, votre application doit pouvoir gérer correctement ces
		                     cas.
		                  </p>
		                  	        
		               </div>
		               
		            </div>
		            
		         </div>
		         
		         <div class="row-fluid">
		            
		            <div class="span6">
		               
		               <h3>Application</h3>
		               
		               <p><i class="icon-chevron-right"></i> Faites l'application que vous jugerez
		                  intéressante. Elle doit au moins :
		               </p>
		               
		               <ul>
		                  <li>permettre de naviguer dans les données : affichage des infos d'un monument avec photo,
		                     accès par région, département, etc...
		                  </li>
		                  
		                  <li>les présenter dans un Map (GoogleMap, OpenStreetMap, etc).</li>
		                  
		                  <li>délivrer des données statistiques sous forme de tableaux HTML et
		                     graphiques faits en SVG (répartition par région, etc)
		                  </li>
		                  
		                  <li>permettre d'extraire avec FOP un rapport PDF contenant des graphiques
		                     SVG, en le produisant en XSLFO grâce à XSLT
		                  </li>
		                  
		               </ul>
		               
		               <h3>Déroulement du projet</h3>
		               
		               <p><i class="icon-chevron-right"></i> Groupes : 4 personnes maxi
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Date de début : 27/10/2016
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Date de fin : 13/12/2016
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Date de soutenance : 14/12/2016
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Durée : à définir
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Livrables : un rapport (2 pages) décrivant les aspect
		                  techniques de votre projet et les fonctionalités principales,
		                  une appli qui marche, les sources (dans un repo GIT par exemple,
		                  à défaut dans un zip).
		               </p>
		               
		               <p><i class="icon-chevron-right"></i> Soutenance : présenter une appli qui marche pendant la soutenance ;
		                  vous devez aussi pouvoir montrer le code de votre appli ; chaque membre
		                  du groupe doit présenter son travail personnel.
		               </p>
		               
		            </div>
		         </div>
		         
		      </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-md-4"></div>
	</div>


    
    

</header>