<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">

<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">

<!-- Angular select -->
<link rel="stylesheet" type="text/css" href="/css/lib/isteven-multi-select.css">

<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.1-master-a687bfc/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

