<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="collapse" id="collapseTrier">
			<div class="well">
				<form class="form-inline">
					<fieldset>
						<div class="form-group">
							<span name="colonnesAffichees" 
								isteven-multi-select
								input-model="all_collumns"
								output-model="output_collumns"
								button-label="name"
								item-label="name"
								tick-property="ticked">
							</span>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- TABLEAU -->
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="table">
			<table class="table table-condensed table-bordered table-striped ">
				<thead>
					<tr>
						<th ng-repeat="colonne in output_collumns">\{{ colonne.label }}</th>
						<th>Détails</th>
					</tr>
				</thead>

				<tbody class="text-center">
					<tr id="-\{{ listeMonument[$index].REF }}" ng-repeat="row in listeMonument track by $index">
						<td ng-repeat="colonne in output_collumns" >
							<a href="\{{ row[colonne.name] }}" target="_blank" ng-if="colonne.name == 'lien' ">
								\{{ row[colonne.name] }}
							</a>
							<p ng-if="colonne.name != 'lien' ">\{{ row[colonne.name] }}</p>
						</td>
						<td>
							<button ng-click="showModal(row)" class="btn btn-warning btn-xs">+<i class="glyphicon glyphicon-bookmark"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-5"></div>
	<div class="col-md-3">
		
			<uib-pagination total-items="nbTotalElem" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="getData();" items-per-page="nbItemPerPage"></uib-pagination>

	</div>
	<div class="col-md-4"></div>
</div>


<script type="text/ng-template" id="monumentModal">
	<div class="modal-header">		
		<button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">\{{ monu.TICO }}</h4>
	</div>
	<div class="modal-body text-center">
		<div ng-repeat="c in colonnes">
			<strong>\{{ c.label }} :</strong> <p ng-if="c.name != 'lien'">\{{ monu[c.name] }}</p><a href="\{{ monu[c.name] }}" target="_blank" ng-if=" c.name == 'lien'">\{{ monu[c.name] }}</a>
		</div>
	</div>
</script>